# Python Booleans

### Boolean Values

In [1]:
# Example
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [3]:
# Example
# Print a message based on whether the condition is True or False:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### Evaluate Values and Variables

In [2]:
# Example

# Evaluate a string and a number:
print(bool("Hello"))
print(bool(15))

True
True

In [4]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### Most Values are True

In [14]:
# Example

# The following will return True:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

### Some Values are False

In [13]:
# Example

# The following will return False:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [15]:
# One more value, or object in this case, evaluates to False, and that is 
# if you have an object that is made from a class with a __len__ function that returns 0 or False: 
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

### Functions can Return a Boolean

In [16]:
# Example

# Print the answer of a function:
def myFunction() :
  return True

print(myFunction())

True

In [ ]:
# Example

# Print "YES!" if the function returns True, otherwise print "NO!":
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [17]:

# Example

# Check if an object is an integer or not:
x = 200
print(isinstance(x, int))

True

# Python Operators

In [18]:
print(10 + 5) # Example

15

Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

## Python Arithmetic Operators

Operator | Name | Example
:----|:-------:|----:
"+" |	Addition |	x + y 	
"-" |	Subtraction |	x - y 	
"*" |	Multiplication |	x * y 	
"/" |	Division |	x / y 	
"%" |	Modulus |	x % y 	
"**" |	Exponentiation |	x ** y 	
"//" 	| Floor division |	x // y

## Python Assignment Operators

Operator | Example | Same as
:----|:-------:|----:
= 	| x = 5 	| x = 5 	
+= 	| x += 3 	| x = x + 3 	
-= 	| x -= 3 	| x = x - 3 	
*= 	| x *= 3 	| x = x * 3 	
/= 	| x /= 3 	| x = x / 3 	
%= 	| x %= 3 	| x = x % 3 	
//= | 	x //= 3 | 	x = x // 3 	
**= | 	x **= 3 | 	x = x ** 3 	
&= 	| x &= 3 	| x = x & 3
\|= |	x \|= 3 |	x = x \| 3

## Python Comparison Operators

Operator | Name | Example
:----|:-------:|----:
"==" 	| Equal 	| x == y 	
"!=" 	| Not equal 	| x != y 	
">"	| Greater than 	| x > y 	
"<"	| Less than 	| x < y 	
">=" 	| Greater than or equal to |	x >= y 	
"<=" 	| Less than or equal to 	| x <= y

## Python Logical Operators

Operator | Description | Example
:----|:-------:|----:
and  |	Returns True if both statements are true |	x < 5 and  x < 10 	
or 	|Returns True if one of the statements is true |	x < 5 or x < 4 	
not 	|Reverse the result, returns False if the result is true |	not(x < 5 and x < 10)

## Python Identity Operators

Operator | Description | Example
:----|:-------:|----:
is  	| Returns True if both variables are the same object |	x is y 	
is not 	| Returns True if both variables are not the same object |	x is not y

## Python Membership Operators

Operator | Description | Example
:----|:-------:|----:
in  	| Returns True if a sequence with the specified value is present in the object |	x in y 	
not in 	| Returns True if a sequence with the specified value is not present in the object |	x not in y

## Python Bitwise Operators

Operator | Name | Description | Example
:----|:-------:|:----:|----:
&  |	AND |	Sets each bit to 1 if both bits are 1 |	x & y 	
\| |	OR 	| Sets each bit to 1 if one of two bits is 1 	|x | y 	
^ |	XOR |	Sets each bit to 1 if only one of two bits is 1 	| x ^ y 	
~ |	NOT 	| Inverts all the bits |	~x 	
<< |	Zero fill left shift |	Shift left by pushing zeros in from the right and let the leftmost bits fall off |	x << 2 	
\>> |	Signed right shift |	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off |	x >> 2

## Operator Precedence

In [19]:
# Example

# Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:
print((6 + 3) - (6 + 3))

0

In [20]:
# Example

# Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:
print(100 + 5 * 3)

115

Operator | Name 
:----|-------:|
() 	| Parentheses 	
\** 	| Exponentiation 	
+x  -x  ~x | 	Unary plus, unary minus, and bitwise NOT 	
\*  /  //  % 	| Multiplication, division, floor division, and modulus 	
\+  - 	| Addition and subtraction 	
<<  >> 	| Bitwise left and right shifts 	
& 	| Bitwise AND 	
^ 	| Bitwise XOR 	
\| 	| Bitwise OR 	
==  !=  >  >=  <  <=  is  is not  in  not in | 	Comparisons, identity, and membership operators 	
not |	Logical NOT 	
and |	AND 	
or |	OR

In [22]:
# Addition + and subtraction - has the same precedence, and therefor we evaluate the expression from left to right:
print(5 + 4 - 7 + 3)

5

# Python Lists

In [23]:
mylist = ["apple", "banana", "cherry"]

In [25]:
# Create a List:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

## List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [26]:
print(thislist[0])
print(thislist[2])

apple
cherry

### Allow Duplicates

In [27]:
# Example

# Lists allow duplicate values:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

### List Length

In [28]:
# Example

# Print the number of items in the list:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### List Items - Data Types

In [29]:
# Example

# String, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
# Example

# A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]

### type()

In [30]:
# Example

# What is the data type of a list?
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

### The list() Constructor

In [ ]:
# Example

# Using the list() constructor to make a List:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

## Python - Access List Items

In [31]:
# Print the second item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

### Negative Indexing

In [32]:
# Example

# Print the last item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

### Range of Indexes

In [33]:
# Example

# Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [34]:
# Example

# This example returns the items from the beginning to, but NOT including, "kiwi":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [35]:
# Example

# This example returns the items from "cherry" to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [36]:
# Example

# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

### Check if Item Exists

In [37]:
# Example

# Check if "apple" is present in the list:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## Python - Change List Items

### Change Item Value

In [38]:
# Change the second item:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [39]:
# Example

# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

### Insert Items

In [40]:
# Example

# Insert "watermelon" as the third item:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Extend List

In [41]:
# Example

# Add the elements of tropical to thislist:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### Add Any Iterable

In [42]:
# Example

# Add elements of a tuple to a list:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Python - Remove List Items

### Remove Specified Item

In [1]:
## Remove "banana":
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [2]:
## Example

## Remove the first occurrence of "banana":
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

### Remove Specified Index

In [3]:
# Remove the second item:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [4]:
# Remove the last item:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [5]:
# Remove the first item:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [7]:
# Delete the entire list:
thislist = ["apple", "banana", "cherry"]
del thislist

### Clear the List

In [8]:
# Clear the list content:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Python - Loop Lists

### Loop Through a List

In [ ]:
# Print all items in the list, one by one:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

### Loop Through the Index Numbers

In [ ]:
# Example

# Print all items by referring to their index number:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

### Using a While Loop

In [ ]:
# Example

# Print all items, using a while loop to go through all the index numbers
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

### Looping Using List Comprehension

In [ ]:
# Example

# A short hand for loop that will print all items in a list:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

## Python - List Comprehension

In [9]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [10]:
# With list comprehension you can do all that with only one line of code:
# Example
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

### The Syntax

In [ ]:
# newlist = [expression for item in iterable if condition == True]

### Condition

In [12]:
# Example

# Only accept items that are not "apple":
newlist = [x for x in fruits if x != "apple"] 
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [13]:
# Example

# With no if statement:
newlist = [x for x in fruits] 
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

### Iterable

In [15]:
# Example

# You can use the range() function to create an iterable:
newlist = [x for x in range(10)] 
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# Example

# Accept only numbers lower than 5:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

### Expression

In [19]:
# Example

# Set the values in the new list to upper case:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [21]:
# Example

# Set all values in the new list to 'hello':
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [22]:
# Example

# Return "orange" instead of "banana":
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

## Python - Sort Lists

### Sort List Alphanumerically

In [23]:
# Example

# Sort the list alphabetically:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [24]:
# Sort the list numerically:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

### Sort Descending

In [25]:
# Example

# Sort the list descending:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [26]:
# Example

# Sort the list descending:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

### Customize Sort Function

In [27]:
# Example

# Sort the list based on how close the number is to 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

### Case Insensitive Sort

In [28]:
# Example

# Case sensitive sorting can give an unexpected result:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [29]:
# Example

# Perform a case-insensitive sort of the list:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

### Reverse Order

In [30]:
# Example

# Reverse the order of the list items:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

## Python - Copy Lists

### Use the copy() method

In [31]:
#Example

# Make a copy of a list with the copy() method:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

### Use the list() method

In [32]:
# Example

# Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

### Use the slice Operator

In [33]:
# Example

# Make a copy of a list with the : operator:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

## Python - Join Lists

### Join Two Lists

In [34]:
# Join two list:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [35]:
# Example

# Append list2 into list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Example

# Use the extend() method to add list2 at the end of list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

## Python - List Methods

Method | Description
|:-|-:|
[append()](https://www.w3schools.com/python/ref_list_append.asp)|	Adds an element at the end of the list
[clear()](https://www.w3schools.com/python/ref_list_clear.asp)|Removes all the elements from the list
[copy()](https://www.w3schools.com/python/ref_list_copy.asp)|Returns a copy of the list
[count()](https://www.w3schools.com/python/ref_list_count.asp)|Returns the number of elements with the specified value
[extend()](https://www.w3schools.com/python/ref_list_extend.asp)|Add the elements of a list (or any iterable), to the end of the current list
[index()](https://www.w3schools.com/python/ref_list_index.asp)|Returns the index of the first element with the specified value
[insert()](https://www.w3schools.com/python/ref_list_insert.asp)|Adds an element at the specified position
[pop()](https://www.w3schools.com/python/ref_list_pop.asp)|Removes the element at the specified position
[remove()](https://www.w3schools.com/python/ref_list_remove.asp)|Removes the item with the specified value
[reverse()](https://www.w3schools.com/python/ref_list_reverse.asp)|Reverses the order of the list
[sort()](https://www.w3schools.com/python/ref_list_sort.asp)|Sorts the list

# Python Tuples

> A tuple is a collection which is ordered and *unchangeable*.

In [36]:
# Create a Tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

> Tuple items are ordered, unchangeable, and allow duplicate values.

In [37]:
# Print the number of items in the tuple:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

### Create Tuple With One Item

In [38]:
# Example

# One item tuple, remember the comma:
thistuple = ("apple",)
print(type(thistuple))

# NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## Tuple Items - Data Types

In [39]:
# xample

# String, int and boolean data types:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
# Example

# A tuple with strings, integers and boolean values:
tuple1 = ("abc", 34, True, 40, "male")

### The tuple() Constructor

In [40]:
# Example

# Using the tuple() method to make a tuple:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## Python - Access Tuple Items

In [41]:
# Print the second item in the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

### Negative Indexing

In [42]:
# Print the last item of the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

### Range of Indexes

In [43]:
# Return the third, fourth, and fifth item:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [44]:
# Example

# This example returns the items from the beginning to, but NOT included, "kiwi":
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [45]:
# Example

# This example returns the items from "cherry" and to the end:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

### Range of Negative Indexes

In [46]:
# Example

# This example returns the items from index -4 (included) to index -1 (excluded)
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

### Check if Item Exists

In [47]:
# Example

# Check if "apple" is present in the tuple:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## Python - Update Tuples

### Change Tuple Values

In [48]:
# Example

# Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

### Add Items

In [50]:
# Example

# Convert the tuple into a list, add "orange", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [49]:
# Example

# Create a new tuple with the value "orange", and add that tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

### Remove Items

In [51]:
# Example

# Convert the tuple into a list, remove "apple", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [52]:
# Example

# The del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

## Python - Unpack Tuples

### Unpacking a Tuple

In [53]:
# Example

# Packing a tuple:
fruits = ("apple", "banana", "cherry")

In [54]:
# Example

# Unpacking a tuple:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

## Using Asterisk <code>*</code>

In [55]:
# Example

# Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [56]:
# Example

# Add a list of values the "tropic" variable:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## Python - Loop Tuples

### Loop Through a Tuple

In [57]:
# Example

# Iterate through the items and print the values:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

### Loop Through the Index Numbers

In [58]:
# Example

# Print all items by referring to their index number:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

### Using a While Loop

In [59]:
# Example

# Print all items, using a while loop to go through all the index numbers:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

## Python - Join Tuples

### Join Two Tuples

In [60]:
# Example
# Join two tuples:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### Multiply Tuples

In [61]:
# Example

# Multiply the fruits tuple by 2:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Python - Tuple Methods

Method | Description
|:-|-:|
[index()](https://www.w3schools.com/python/ref_tuple_index.asp)|Returns the index of the first element with the specified value
[count()](https://www.w3schools.com/python/ref_tuple_count.asp)|Returns the number of times a specified value occurs in a tuple