# Python Booleans

### Boolean Values

In [1]:
# Example
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [3]:
# Example
# Print a message based on whether the condition is True or False:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### Evaluate Values and Variables

In [2]:
# Example

# Evaluate a string and a number:
print(bool("Hello"))
print(bool(15))

True
True

In [4]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### Most Values are True

In [14]:
# Example

# The following will return True:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

### Some Values are False

In [13]:
# Example

# The following will return False:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [15]:
# One more value, or object in this case, evaluates to False, and that is 
# if you have an object that is made from a class with a __len__ function that returns 0 or False: 
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

### Functions can Return a Boolean

In [16]:
# Example

# Print the answer of a function:
def myFunction() :
  return True

print(myFunction())

True

In [ ]:
# Example

# Print "YES!" if the function returns True, otherwise print "NO!":
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [17]:

# Example

# Check if an object is an integer or not:
x = 200
print(isinstance(x, int))

True

# Python Operators

In [18]:
print(10 + 5) # Example

15

Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

## Python Arithmetic Operators

Operator | Name | Example
:----|:-------:|----:
"+" |	Addition |	x + y 	
"-" |	Subtraction |	x - y 	
"*" |	Multiplication |	x * y 	
"/" |	Division |	x / y 	
"%" |	Modulus |	x % y 	
"**" |	Exponentiation |	x ** y 	
"//" 	| Floor division |	x // y

## Python Assignment Operators

Operator | Example | Same as
:----|:-------:|----:
= 	| x = 5 	| x = 5 	
+= 	| x += 3 	| x = x + 3 	
-= 	| x -= 3 	| x = x - 3 	
*= 	| x *= 3 	| x = x * 3 	
/= 	| x /= 3 	| x = x / 3 	
%= 	| x %= 3 	| x = x % 3 	
//= | 	x //= 3 | 	x = x // 3 	
**= | 	x **= 3 | 	x = x ** 3 	
&= 	| x &= 3 	| x = x & 3
\|= |	x \|= 3 |	x = x \| 3

## Python Comparison Operators

Operator | Name | Example
:----|:-------:|----:
"==" 	| Equal 	| x == y 	
"!=" 	| Not equal 	| x != y 	
">"	| Greater than 	| x > y 	
"<"	| Less than 	| x < y 	
">=" 	| Greater than or equal to |	x >= y 	
"<=" 	| Less than or equal to 	| x <= y

## Python Logical Operators

Operator | Description | Example
:----|:-------:|----:
and  |	Returns True if both statements are true |	x < 5 and  x < 10 	
or 	|Returns True if one of the statements is true |	x < 5 or x < 4 	
not 	|Reverse the result, returns False if the result is true |	not(x < 5 and x < 10)

## Python Identity Operators

Operator | Description | Example
:----|:-------:|----:
is  	| Returns True if both variables are the same object |	x is y 	
is not 	| Returns True if both variables are not the same object |	x is not y

## Python Membership Operators

Operator | Description | Example
:----|:-------:|----:
in  	| Returns True if a sequence with the specified value is present in the object |	x in y 	
not in 	| Returns True if a sequence with the specified value is not present in the object |	x not in y

## Python Bitwise Operators

Operator | Name | Description | Example
:----|:-------:|:----:|----:
&  |	AND |	Sets each bit to 1 if both bits are 1 |	x & y 	
\| |	OR 	| Sets each bit to 1 if one of two bits is 1 	|x | y 	
^ |	XOR |	Sets each bit to 1 if only one of two bits is 1 	| x ^ y 	
~ |	NOT 	| Inverts all the bits |	~x 	
<< |	Zero fill left shift |	Shift left by pushing zeros in from the right and let the leftmost bits fall off |	x << 2 	
\>> |	Signed right shift |	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off |	x >> 2

## Operator Precedence

In [19]:
# Example

# Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:
print((6 + 3) - (6 + 3))

0

In [20]:
# Example

# Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:
print(100 + 5 * 3)

115

Operator | Name 
:----|-------:|
() 	| Parentheses 	
\** 	| Exponentiation 	
+x  -x  ~x | 	Unary plus, unary minus, and bitwise NOT 	
\*  /  //  % 	| Multiplication, division, floor division, and modulus 	
\+  - 	| Addition and subtraction 	
<<  >> 	| Bitwise left and right shifts 	
& 	| Bitwise AND 	
^ 	| Bitwise XOR 	
\| 	| Bitwise OR 	
==  !=  >  >=  <  <=  is  is not  in  not in | 	Comparisons, identity, and membership operators 	
not |	Logical NOT 	
and |	AND 	
or |	OR

In [22]:
# Addition + and subtraction - has the same precedence, and therefor we evaluate the expression from left to right:
print(5 + 4 - 7 + 3)

5

# Python Lists

In [23]:
mylist = ["apple", "banana", "cherry"]

In [25]:
# Create a List:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

## List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [26]:
print(thislist[0])
print(thislist[2])

apple
cherry

### Allow Duplicates

In [27]:
# Example

# Lists allow duplicate values:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

### List Length

In [28]:
# Example

# Print the number of items in the list:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### List Items - Data Types

In [29]:
# Example

# String, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
# Example

# A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]

### type()

In [30]:
# Example

# What is the data type of a list?
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

### The list() Constructor

In [ ]:
# Example

# Using the list() constructor to make a List:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

## Python - Access List Items

In [31]:
# Print the second item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

### Negative Indexing

In [32]:
# Example

# Print the last item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

### Range of Indexes

In [33]:
# Example

# Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [34]:
# Example

# This example returns the items from the beginning to, but NOT including, "kiwi":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [35]:
# Example

# This example returns the items from "cherry" to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [36]:
# Example

# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

### Check if Item Exists

In [37]:
# Example

# Check if "apple" is present in the list:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## Python - Change List Items

### Change Item Value

In [38]:
# Change the second item:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [39]:
# Example

# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

### Insert Items

In [40]:
# Example

# Insert "watermelon" as the third item:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Extend List

In [41]:
# Example

# Add the elements of tropical to thislist:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### Add Any Iterable

In [42]:
# Example

# Add elements of a tuple to a list:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Python - Remove List Items

### Remove Specified Item

In [1]:
## Remove "banana":
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [2]:
## Example

## Remove the first occurrence of "banana":
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

### Remove Specified Index

In [3]:
# Remove the second item:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [4]:
# Remove the last item:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [5]:
# Remove the first item:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [7]:
# Delete the entire list:
thislist = ["apple", "banana", "cherry"]
del thislist

### Clear the List

In [8]:
# Clear the list content:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Python - Loop Lists

### Loop Through a List

In [ ]:
# Print all items in the list, one by one:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

### Loop Through the Index Numbers

In [ ]:
# Example

# Print all items by referring to their index number:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

### Using a While Loop

In [ ]:
# Example

# Print all items, using a while loop to go through all the index numbers
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

### Looping Using List Comprehension

In [ ]:
# Example

# A short hand for loop that will print all items in a list:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

## Python - List Comprehension

In [9]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [10]:
# With list comprehension you can do all that with only one line of code:
# Example
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

### The Syntax

In [ ]:
# newlist = [expression for item in iterable if condition == True]

### Condition

In [12]:
# Example

# Only accept items that are not "apple":
newlist = [x for x in fruits if x != "apple"] 
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [13]:
# Example

# With no if statement:
newlist = [x for x in fruits] 
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

### Iterable

In [15]:
# Example

# You can use the range() function to create an iterable:
newlist = [x for x in range(10)] 
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# Example

# Accept only numbers lower than 5:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

### Expression

In [19]:
# Example

# Set the values in the new list to upper case:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [21]:
# Example

# Set all values in the new list to 'hello':
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [22]:
# Example

# Return "orange" instead of "banana":
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

## Python - Sort Lists

### Sort List Alphanumerically

In [23]:
# Example

# Sort the list alphabetically:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [24]:
# Sort the list numerically:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

### Sort Descending

In [25]:
# Example

# Sort the list descending:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [26]:
# Example

# Sort the list descending:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

### Customize Sort Function

In [27]:
# Example

# Sort the list based on how close the number is to 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

### Case Insensitive Sort

In [28]:
# Example

# Case sensitive sorting can give an unexpected result:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [29]:
# Example

# Perform a case-insensitive sort of the list:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

### Reverse Order

In [30]:
# Example

# Reverse the order of the list items:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

## Python - Copy Lists

### Use the copy() method

In [31]:
#Example

# Make a copy of a list with the copy() method:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

### Use the list() method

In [32]:
# Example

# Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

### Use the slice Operator

In [33]:
# Example

# Make a copy of a list with the : operator:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

## Python - Join Lists

### Join Two Lists

In [34]:
# Join two list:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [35]:
# Example

# Append list2 into list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Example

# Use the extend() method to add list2 at the end of list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

## Python - List Methods

Method | Description
|:-|-:|
[append()](https://www.w3schools.com/python/ref_list_append.asp)|	Adds an element at the end of the list
[clear()](https://www.w3schools.com/python/ref_list_clear.asp)|Removes all the elements from the list
[copy()](https://www.w3schools.com/python/ref_list_copy.asp)|Returns a copy of the list
[count()](https://www.w3schools.com/python/ref_list_count.asp)|Returns the number of elements with the specified value
[extend()](https://www.w3schools.com/python/ref_list_extend.asp)|Add the elements of a list (or any iterable), to the end of the current list
[index()](https://www.w3schools.com/python/ref_list_index.asp)|Returns the index of the first element with the specified value
[insert()](https://www.w3schools.com/python/ref_list_insert.asp)|Adds an element at the specified position
[pop()](https://www.w3schools.com/python/ref_list_pop.asp)|Removes the element at the specified position
[remove()](https://www.w3schools.com/python/ref_list_remove.asp)|Removes the item with the specified value
[reverse()](https://www.w3schools.com/python/ref_list_reverse.asp)|Reverses the order of the list
[sort()](https://www.w3schools.com/python/ref_list_sort.asp)|Sorts the list

# Python Tuples

> A tuple is a collection which is ordered and *unchangeable*.

In [36]:
# Create a Tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

> Tuple items are ordered, unchangeable, and allow duplicate values.

In [37]:
# Print the number of items in the tuple:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

### Create Tuple With One Item

In [38]:
# Example

# One item tuple, remember the comma:
thistuple = ("apple",)
print(type(thistuple))

# NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## Tuple Items - Data Types

In [39]:
# xample

# String, int and boolean data types:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
# Example

# A tuple with strings, integers and boolean values:
tuple1 = ("abc", 34, True, 40, "male")

### The tuple() Constructor

In [40]:
# Example

# Using the tuple() method to make a tuple:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## Python - Access Tuple Items

In [41]:
# Print the second item in the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

### Negative Indexing

In [42]:
# Print the last item of the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

### Range of Indexes

In [43]:
# Return the third, fourth, and fifth item:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [44]:
# Example

# This example returns the items from the beginning to, but NOT included, "kiwi":
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [45]:
# Example

# This example returns the items from "cherry" and to the end:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

### Range of Negative Indexes

In [46]:
# Example

# This example returns the items from index -4 (included) to index -1 (excluded)
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

### Check if Item Exists

In [47]:
# Example

# Check if "apple" is present in the tuple:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## Python - Update Tuples

### Change Tuple Values

In [48]:
# Example

# Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

### Add Items

In [50]:
# Example

# Convert the tuple into a list, add "orange", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [49]:
# Example

# Create a new tuple with the value "orange", and add that tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

### Remove Items

In [51]:
# Example

# Convert the tuple into a list, remove "apple", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [52]:
# Example

# The del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

## Python - Unpack Tuples

### Unpacking a Tuple

In [53]:
# Example

# Packing a tuple:
fruits = ("apple", "banana", "cherry")

In [54]:
# Example

# Unpacking a tuple:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

## Using Asterisk <code>*</code>

In [55]:
# Example

# Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [56]:
# Example

# Add a list of values the "tropic" variable:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## Python - Loop Tuples

### Loop Through a Tuple

In [57]:
# Example

# Iterate through the items and print the values:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

### Loop Through the Index Numbers

In [58]:
# Example

# Print all items by referring to their index number:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

### Using a While Loop

In [59]:
# Example

# Print all items, using a while loop to go through all the index numbers:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

## Python - Join Tuples

### Join Two Tuples

In [60]:
# Example
# Join two tuples:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### Multiply Tuples

In [61]:
# Example

# Multiply the fruits tuple by 2:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Python - Tuple Methods

Method | Description
|:-|-:|
[index()](https://www.w3schools.com/python/ref_tuple_index.asp)|Returns the index of the first element with the specified value
[count()](https://www.w3schools.com/python/ref_tuple_count.asp)|Returns the number of times a specified value occurs in a tuple

# Python Sets

## Sets

In [1]:
# Example

# Create a Set:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

> Note: Sets are unordered, so you cannot be sure in which order the items will appear.

> Set items are unordered, unchangeable, and do not allow duplicate values.

### Duplicates Not Allowed

In [2]:
# Example

# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [3]:
# Example

# True and 1 is considered the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [4]:
# Example

# False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'banana', 'apple', 'cherry'}

### Get the Length of a Set

In [5]:
# Example

# Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### Set Items - Data Types

In [6]:
# Example

# String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [7]:
# Example

# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}

### type()

In [8]:
# Example

# What is the data type of a set?
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

### The set() Constructor

In [9]:
# Example

# Using the set() constructor to make a set:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

## Python - Access Set Items

> You cannot access items in a set by referring to an index or a key.

> But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

### Access Items

In [10]:
# Example

# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [12]:
# Example

# Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [11]:
# Example

# Check if "banana" is NOT present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

## Python - Add Set Items

### Add Items

> Once a set is created, you cannot change its items, but you can add new items.

In [13]:
# Example

# Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

### Add Sets

In [14]:
# Example

# Add elements from tropical into thisset:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'banana', 'pineapple', 'apple', 'cherry', 'papaya'}

### Add Any Iterable

In [15]:
# Example

# Add elements of a list to at set:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'banana', 'apple', 'cherry', 'orange'}

## Python - Remove Set Items

### Remove Item

In [16]:
# Example

# Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [17]:
# Example

# Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [18]:
# Example

# Remove a random item by using the pop() method:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

In [19]:
# Example

# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [20]:
# Example

# The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

## Python - Loop Sets

### Loop Items

In [21]:
# Example

# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

## Python - Join Sets

### Join Sets

There are several ways to join two or more sets in Python.

The ```union()``` and update() methods joins all items from both sets.

The ```intersection()``` method keeps ONLY the duplicates.

The ```difference()``` method keeps the items from the first set that are not in the other set(s).

The ```symmetric_difference()``` method keeps all items EXCEPT the duplicates.

### Union

In [22]:
# Example

# Join set1 and set2 into a new set:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [23]:
# Example

# Use | to join two sets:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

### Join Multiple Sets

In [24]:
# Example

# Join multiple sets with the union() method:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'cherry', 'bananas', 'c', 'John', 'apple', 'Elena', 'b', 'a'}

In [25]:
# Example

# Use | to join two sets:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'cherry', 'bananas', 'c', 'John', 'apple', 'Elena', 'b', 'a'}

###  Join a Set and a Tuple

In [26]:
# Example

# Join a set with a tuple:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'b', 'a'}

### Update

In [27]:
# Example

# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

### Intersection

In [28]:
# Example

# Join set1 and set2, but keep only the duplicates:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [29]:
# Example

# Use & to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [30]:
# Example

# Keep the items that exist in both set1, and set2:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [31]:
# Example

# Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

### Difference

In [32]:
# Example

# Keep all items from set1 that are not in set2:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [33]:
# Example

# Use - to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [ ]:
# Example

# Use the difference_update() method to keep the items that are not present in both sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

### Symmetric Differences

In [34]:
# Example

# Keep the items that are not present in both sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'google', 'microsoft', 'cherry'}

In [35]:
# Example

# Use ^ to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'google', 'microsoft', 'cherry'}

In [37]:
# Example

# Use the symmetric_difference_update() method to keep the items that are not present in both sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'google', 'microsoft', 'cherry'}

## Python - Set Methods

Method | Shortcut | Description
|:-------|:------:|-----------:|
[add()](https://www.w3schools.com/python/ref_set_add.asp) 	  	            |           | Adds an element to the set
[clear()](https://www.w3schools.com/python/ref_set_clear.asp) 	  	        |            | Removes all the elements from the set
[copy()](https://www.w3schools.com/python/ref_set_copy.asp)	  	            |            | Returns a copy of the set
[difference()](https://www.w3schools.com/python/ref_set_difference.asp) 	        |- 	        | Returns a set containing the difference between two or more sets
[difference_update()](https://www.w3schools.com/python/ref_set_difference_update.asp) 	|-= 	        | Removes the items in this set that are also included in another, specified set
[discard()](https://www.w3schools.com/python/ref_set_discard.asp)   |            | Remove the specified item
[intersection()](https://www.w3schools.com/python/ref_set_intersection.asp)	        |& 	        | Returns a set, that is the intersection of two other sets
[intersection_update()](https://www.w3schools.com/python/ref_set_intersection_update.asp) 	|&= 	        | Removes the items in this set that are not present in other, specified set(s)
[isdisjoint()](https://www.w3schools.com/python/ref_set_isdisjoint.asp) |            | Returns whether two sets have a intersection or not
[issubset()](https://www.w3schools.com/python/ref_set_issubset.asp) 	            |<= 	        | Returns whether another set contains this set or not
_	                    |< 	        | Returns whether all items in this set is present in other, specified set(s)
[issuperset()](https://www.w3schools.com/python/ref_set_issuperset.asp) 	        |\>= 	        | Returns whether this set contains another set or not
_	                    |\> 	        | Returns whether all items in other, specified set(s) is present in this set
[pop()](https://www.w3schools.com/python/ref_set_pop.asp) 	  	            |         | Removes an element from the set
[remove()](https://www.w3schools.com/python/ref_set_remove.asp) 	            |	       | Removes the specified element
[symmetric_difference()](https://www.w3schools.com/python/ref_set_symmetric_difference.asp) 	        | ^ 	| Returns a set with the symmetric differences of two sets
[symmetric_difference_update()](https://www.w3schools.com/python/ref_set_symmetric_difference_update.asp) 	| ^= 	| Inserts the symmetric differences from this set and another
[union()](https://www.w3schools.com/python/ref_set_union.asp)                    | \| 	| Return a set containing the union of sets
[update()](https://www.w3schools.com/python/ref_set_update.asp) 	                    | \|= | Update the set with the union of this set and others

# Python Dictionaries

##  Dictionary

In [38]:
# Example

# Create and print a dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Dictionary Items

In [39]:
# Example

# Print the "brand" value of the dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

> As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

### Duplicates Not Allowed

In [40]:
# Example

# Duplicate values will overwrite existing values:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Dictionary Length

In [41]:
# Example

# Print the number of items in the dictionary:
print(len(thisdict))

3

### Dictionary Items - Data Types

In [42]:
# Example

# String, int, boolean, and list data types:
thisdict =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

### type()

In [43]:
# Example

# Print the data type of a dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

### The dict() Constructor

In [44]:
# Example

# Using the dict() method to make a dictionary:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

## Python - Access Dictionary Items

### Accessing Items

In [45]:
# Example

# Get the value of the "model" key:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [46]:
# Example

# Get the value of the "model" key:
x = thisdict.get("model")

In [48]:
# Example

# Get a list of the keys:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [49]:
# Example

# Add a new item to the original dictionary, and see that the keys list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

### Get Values

In [50]:
# Example

# Get a list of the values:
x = thisdict.values() 
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [51]:
# Example

# Make a change in the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [52]:
# Example

# Add a new item to the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

### Get Items

In [53]:
# Example

# Get a list of the key:value pairs
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [54]:
# Example

# Make a change in the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [55]:
# Example

# Add a new item to the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

### Check if Key Exists

In [56]:
# Example

# Check if "model" is present in the dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

## Python - Change Dictionary Items

### Change Values

In [57]:
# Example

# Change the "year" to 2018:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

### Update Dictionary

In [58]:
# Example

# Update the "year" of the car by using the update() method:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

## Python - Add Dictionary Items

### Adding Items

In [59]:
# Example
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### Update Dictionary

In [61]:
# Example

# Add a color item to the dictionary by using the update() method:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"}) 
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## Python - Remove Dictionary Items

### Removing Items

In [ ]:
# Example

# The pop() method removes the item with the specified key name:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
# Example

# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
# Example

# The del keyword removes the item with the specified key name:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
# Example

# The del keyword can also delete the dictionary completely:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [ ]:
# Example

# The clear() method empties the dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

## Python - Loop Dictionaries

### Loop Through a Dictionary

In [ ]:
# Example
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
# Print all key names in the dictionary, one by one:
for x in thisdict:
  print(x)

brand
model
year

In [ ]:
# Example

# Print all values in the dictionary, one by one:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [ ]:
# Example

# You can also use the values() method to return values of a dictionary:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [ ]:
# Example

# You can use the keys() method to return the keys of a dictionary:
for x in thisdict.keys():
  print(x)

brand
model
year

In [ ]:
# Example

# Loop through both keys and values, by using the items() method:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

## Python - Copy Dictionaries

### Copy a Dictionary

In [65]:
# Example

# Make a copy of a dictionary with the copy() method:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [66]:
# Example

# Make a copy of a dictionary with the dict() function:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Python - Nested Dictionaries

### Nested Dictionaries

In [67]:
# Example

# Create a dictionary that contain three dictionaries:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
# Example

# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

### Access Items in Nested Dictionaries

In [68]:
# Example

# Print the name of child 2:
print(myfamily["child2"]["name"])

Tobias

### Loop Through Nested Dictionaries

In [71]:
# Example
# Loop through the keys and values of all nested dictionaries:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

## Python Dictionary Methods

Method | Description
|:---|---:|
[clear()](https://www.w3schools.com/python/ref_dictionary_clear.asp)      |   Removes all the elements from the dictionary
[copy()](https://www.w3schools.com/python/ref_dictionary_copy.asp) |   Returns a copy of the dictionary
[fromkeys()](https://www.w3schools.com/python/ref_dictionary_fromkeys.asp) |   Returns a dictionary with the specified keys and value
[get()](https://www.w3schools.com/python/ref_dictionary_get.asp)  |   Returns the value of the specified key
[items()](https://www.w3schools.com/python/ref_dictionary_items.asp)      |   Returns a list containing a tuple for each key value pair
[keys()](https://www.w3schools.com/python/ref_dictionary_keys.asp)  |   Returns a list containing the dictionary's keys
[pop()](https://www.w3schools.com/python/ref_dictionary_pop.asp)  |   Removes the element with the specified key
[popitem()](https://www.w3schools.com/python/ref_dictionary_popitem.asp)  |   Removes the last inserted key-value pair
[setdefault()](https://www.w3schools.com/python/ref_dictionary_setdefault.asp)	|   Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
[update()](https://www.w3schools.com/python/ref_dictionary_update.asp)  |   Updates the dictionary with the specified key-value pairs
[values()](https://www.w3schools.com/python/ref_dictionary_values.asp)  |   Returns a list of all the values in the dictionary

# Python If ... Else

### Python Conditions and If statements

Python supports the usual logical conditions from mathematics:

    Equals: a == b
    Not Equals: a != b
    Less than: a < b
    Less than or equal to: a <= b
    Greater than: a > b
    Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [72]:
# Example

# If statement:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

### Indentation

In [73]:
Example

If statement, without indentation (will raise an error):
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

SyntaxError: invalid syntax (3936293945.py, line 3)

### Elif

In [74]:
# Example
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

### Else

In [75]:
# Example
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [76]:
# Example
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### Short Hand If

In [77]:
# Example

# One line if statement:
if a > b: print("a is greater than b")

a is greater than b

### Short Hand If ... Else

In [78]:
# Example

# One line if else statement:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [80]:
# Example

# One line if else statement, with 3 conditions:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

### And

In [81]:
# Example

# Test if a is greater than b, AND if c is greater than a:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

### Or

In [82]:
# Example

# Test if a is greater than b, OR if a is greater than c:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

### Not

In [83]:
# Example

# Test if a is NOT greater than b:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

### Nested If

In [84]:
# Example
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

### The pass Statement

> if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [85]:
# Example
a = 33
b = 200

if b > a:
  pass

# Python While Loops

### The while Loop

In [86]:
# Example

# Print i as long as i is less than 6:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

### The break Statement

In [87]:
# Example

# Exit the loop when i is 3:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

### The continue Statement

In [88]:
# Example

# Continue to the next iteration if i is 3:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### The else Statement

In [89]:
# Example

# Print a message once the condition is false:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loops

### Python For Loops

In [90]:
# Example

# Print each fruit in a fruit list:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

### Looping Through a String

In [91]:
# Example

# Loop through the letters in the word "banana":
for x in "banana":
  print(x)

b
a
n
a
n
a

### The break Statement

In [92]:
# Example

# Exit the loop when x is "banana":
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [93]:
# Example

# Exit the loop when x is "banana", but this time the break comes before the print:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

### The continue Statement

In [94]:
# Example

# Do not print banana:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

### The range() Function

In [95]:
# Example

# Using the range() function:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [96]:
# Example

# Using the start parameter:
for x in range(2, 6):
  print(x)

2
3
4
5

In [97]:
# Example

# Increment the sequence with 3 (default is 1):
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

### Else in For Loop

In [98]:
# Example

# Print all numbers from 0 to 5, and print a message when the loop has ended:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [99]:
# Example

# Break the loop when x is 3, and see what happens with the else block:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

### Nested Loops

In [100]:
# Example

# Print each adjective for every fruit:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### The pass Statement

In [101]:
# Example
for x in [0, 1, 2]:
  pass